body {
        font-family:  "Times New Roman", Times, serif;
        color: whitesmoke;
}

ul {
    margin: 0px;
    padding: 5px;
}

li {
    list-style: none;
   font-size: 16px;
   font-weight: bold;
   line-height: 18px;
   padding: 0px;
   margin-block-start: 0px;
  }

  li.first-letter {
    text-transform: capitalize;
  }

  .container {
  border-radius: 10px;
  background-image: radial-gradient(circle farthest-corner at 22.4% 21.7%, hsl(257, 84%, 65%) 0%, hsl(257, 52%, 42%) 100.2%);
  padding: 20px 10px 5px 5px;
  inline-size: 500px;
  border-radius: 10px;
  }

.vanillApp-wrapper {
    max-inline-size: 200px;
    margin:auto;
}

.vanillApp {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}

  h1 {
    font-weight: bold;
    display: inline-block;
    line-height: 30px;
    margin-block-start: 0px;
    margin-block-end: 5px;
    margin-inline-end: 8px;
  }
  
  h2 {
    font-size: 16px;
    padding: 15px 0px 15px 20px;
    max-inline-size: 100%;
    margin: 20px;
  
  }
 .searchDetails {
   margin-block-end: 30px
 }

  #Icon {
    margin-inline-end: 20px;
  
  }

  #city {
    font-weight: bold;
    font-size: 38px;
    text-align: start;
    margin-block-start: 15px;
    margin-inline-end: 8px;
    margin-block-end:5px;
    line-height: 20px;

  }

  #temperature {
     font-size: 54px;
     font-weight: 400;
     line-height: 18px;
  
  }

a {
    color: hwb(51 0% 0%);
  }

  #tempC,
  #tempf {
      position: relative;
      font-size: 18px;
      inset-block-start: -28px;
  }

  .float-left {
  list-style-type: none;
  text-align: start;
  display: inline-block;
  padding-inline-start: 10px;
  line-height: none;
  font-weight: bold;
  margin-block-start: 0px;
}

#condition {
text-align: center;
display: inline;
}