body {
        font-family:  "Times New Roman", Times, serif;
        color: whitesmoke;
}

ul {
    margin: 0px;
    padding: 5px;
}

li {
    list-style: none;
   font-size: 16px;
   font-weight: bold;
   line-height: 18px;
   padding: 0px;
   margin-block-start: 0px;
  }

  .container {
  border-radius: 10px;
  background-image: radial-gradient(circle farthest-corner at 22.4% 21.7%, hsl(257, 84%, 65%) 0%, hsl(257, 52%, 42%) 100.2%);
  padding: 10px 10px 5px 5px;
  inline-size: 500px;
  border-radius: 10px;
  }


.search {
  margin: 0 auto;
  max-inline-size: 500px;
  position: relative;
  inset-inline-start: 20px;
}

.searchInput {
  margin: 0 auto;
  max-inline-size: 300px;
}

.searchIcon {
  position: relative;
  inset-inline-end: 84px;
  inset-block-start: 2px;
  font-size: 20px;
  transition: all 150ms ease-in-out;
}

.searchIcon:hover {
  color: #b582f0;
}

.currentLocation {
  background: white;
  font-size: 12px;
  text-align: center;
  border: thin solid rgb(228, 227, 227);
  border-radius: 10px;
  box-shadow: 0 1px 5px rgb(0, 0, 0, 0.2);
  display: inline-block;
  margin: 15px auto;
  padding: 5px 15px;
  transition: all 150ms ease-in-out;
}

.currentLocation:hover {
  background-color: #b582f0;
  color: white;
}

.searchDetails {
  text-align: center;
  padding: 5px 24px 0;
  border-radius: 20px;
}

.cityName {
  font-weight: bold;
  font-size: 32px;
  text-transform: capitalize;
  display: block;  
  text-align: center;
}

.tempContainer {
  font-size: 50px;
  font-weight: bold;
  margin: 0 auto;
  max-inline-size: 200px;
  position: relative;
}

#tempC,
#tempf {
  font-size: 18px;
  font-weight: 300;
  position: absolute;
  inset-inline-start: 185px;
  text-decoration: none;
  transition: all 150ms ease-in-out;
}

#tempC:hover,
#tempf:hover {
  font-size: 22px;
}


#tempf{
  inset-block-start: 30px;
}

#tempC {
  inset-block-start: 60px;
}

.active-link {
  font-weight: 600;
  font-size: 22px;
  color: black;
  cursor: default;
  transition: all 150ms ease-in-out;
}
.active-link:hover {
  color: black;
}

.currentTempWrapper {
  margin-block-start: -20px;
}

#currentTemp {
  font-size: 14px;
  display: block;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.moredetails {
  margin: 0 auto;
  max-inline-size: 600px;
  font-size: 14px;
}


.iconWrapper {
  margin: 0 auto;
}

.image {
  max-inline-size: 100px;
  margin-block-start: -40px;
}

.lineBreak {
  border-block-start: thin solid #178aa5;
  margin-block-end: 20px;
}

.card-title {
  text-transform: uppercase;
  text-align: center;
  inline-size: 90px;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 400;
}
.card {
  background: rgb(255, 255, 255, 0.4);
  max-block-size: 130px;
  inline-size: 90px;
  margin: 15px 0 24px;
  padding: 22px 8px;
  border-radius: 15px;
  box-shadow: 0 1px 8px rgb(57, 127, 142, 0.3);
}
.card-content {
  font-size: 14px;
  color: rgb(42, 42, 42);
  font-weight: 400;
}
.card-temp-min {
  color: rgb(136, 136, 136);
}

.card-image {
  max-inline-size: 60px;
  opacity: 0.7;
  margin-block-start: 10px;
}

.footer {
  font-size: 13px;
  color: rgb(42, 42, 42);
  margin: 0 auto;
  text-align: center;
}

.footer a {
  text-decoration: none;
  color: whitesmoke;
   transition: all 150ms ease-in-out;
}

.footer a:hover {
  color: #bad834;
}